/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Monoton);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: radial-gradient(circle farthest-corner at 5rem 5rem, #3494e6 0%, #ec6ead 100%);
  background-size: 400% 400%;
  animation: body-moving 15s linear infinite;
  background-attachment: fixed;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.content {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@keyframes body-moving {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

.header {
  text-align: center;
  visibility: hidden;
  -webkit-animation: header--slide-down 2s ease forwards;
  /* Safari 4+ */
  -moz-animation: header--slide-down 2s ease forwards;
  /* Fx 5+ */
  -o-animation: header--slide-down 2s ease forwards;
  /* Opera 12+ */
  animation: header--slide-down 2s ease forwards;
  /* IE 10+, Fx 29+ */
}

.header__title {
  position: relative;
  text-transform: uppercase;
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  font-size: 5vw;
  line-height: 1;
  margin: 4rem 0 0 0;
  background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-shadow: -0.1rem 0.1rem 0.15rem rgba(255, 255, 255, 0.3);
  -webkit-animation: header__title--cast-shadow 2s linear 2s forwards;
  /* Safari 4+ */
  -moz-animation: header__title--cast-shadow 2s linear 2s forwards;
  /* Fx 5+ */
  -o-animation: header__title--cast-shadow 2s linear 2s forwards;
  /* Opera 12+ */
  animation: header__title--cast-shadow 2s linear 2s forwards;
  /* IE 10+, Fx 29+ */
}

@keyframes header--slide-down {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  60% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes header__title--cast-shadow {
  0% {
    text-shadow: -0.1rem 0.1rem 1rem white;
  }
  60% {
    text-shadow: -0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.63);
  }
  80% {
    text-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.63);
  }
  100% {
    text-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.63);
  }
}

.footer {
  position: fixed;
  font-size: .9rem;
  width: 100%;
  text-align: center;
  display: block;
  bottom: 0;
  padding: 2px 0 5px 0;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.54);
  background-image: radial-gradient(circle farthest-corner at 5rem 5rem, #3494e6 0%, #ec6ead 100%);
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.search-podcast {
  max-width: 40rem;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: 7rem;
}

.search-podcast__label {
  margin-bottom: .5rem;
  display: inline-block;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.search-podcast__group {
  display: flex;
  border: 3px solid #424e5c;
  border-radius: 4px;
}

.search-podcast__input {
  flex: 1 0 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .35em .75em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset -3px 0px 7px -5px black;
  transition: all 50ms linear;
}

.search-podcast__input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.search-podcast__submit {
  flex: 0 0 auto;
  padding: .35em .75em;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 300;
  background-color: #6197d5;
  color: #fff;
  transition: all 50ms linear;
  box-shadow: inset 3px 0 0 #3366a1;
  border: none;
}

.search-podcast__submit:hover {
  background-color: #7eade3;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.search-podcast__submit:active {
  box-shadow: inset 0 0 0px #3366a1;
  padding-right: .8em;
  padding-left: .7em;
}

.search-results-count {
  font-size: 2rem;
  margin-top: 1rem;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  justify-content: center;
}

.search-results-item {
  border: 1px solid #73b0ff;
  padding: 1rem;
  max-width: 20rem;
  width: 100%;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.6);
  background-repeat: repeat;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  background-position-x: left;
  background-position-y: top;
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  line-height: normal;
}

.podcast-cover {
  width: 10rem;
  height: auto;
  border: 2px solid #fff;
  text-align: center;
  align-self: center;
}

.podcast-title {
  font-size: 1.5rem;
}

.podcast-author {
  font-weight: normal;
  margin-top: .5rem;
}

.podcast-url {
  margin-top: 2rem;
}

.podcast-track-count {
  align-self: center;
  margin-top: .5rem;
  font-size: .8rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.content {
  width: 100%;
}

/* Portrait */
@media screen and (min-device-width: 320px) and (max-device-width: 667px) {
  .header__logo {
    width: 6rem;
  }
  .header__title {
    font-size: 12vw;
    font-weight: bold;
  }
}

/*# sourceMappingURL=site.css.map */
