﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="header">
        <h1 class="header__title">Podcaster</h1>
    </div>
    <div class="search-podcast">
        <label class="search-podcast__label">Browse & listen to your favourite podcasts</label>
        <form class="search-podcast__group" id="searchPodcastForm" role="form">
            <input class="search-podcast__input" type="text" name="searchInput" />
            <button class="search-podcast__submit" type="submit">Search</button>
        </form>
    </div>
    <div class="search-results" id="searchResults"></div>
</div>
<script type="text/javascript">
    (function () {
        "use strict";
        var form = document.getElementById('searchPodcastForm');
        form.addEventListener('submit', function (e) {
            e.preventDefault();

            var inputValue = e.target.searchInput.value;
            loadResultsAsync(inputValue);
        });


        function loadResultsAsync(inputString) {
            var request = new XMLHttpRequest();
            request.open('GET', '/SearchPodcast?searchQuery=' + inputString, true);

            request.onload = function () {
                if (this.status >= 200 && this.status < 400) {
                    // Success!
                    console.log(this.response);
                    document.getElementById('searchResults').innerHTML = this.response;
                    //var data = JSON.parse(this.response);
                } else {
                    // We reached our target server, but it returned an error

                }
            };

            request.onerror = function () {
                // There was a connection error of some sort
            };

            request.send();
        }

    })();
</script>