﻿/* Portrait */
@media screen and (min-device-width: 320px) and (max-device-width: 667px) {
    .header__logo {
        width: 6rem;
    }

    .header__title {
        font-size: 12vw;
        font-weight: bold;
    }
}
