﻿@model Podcaster.ViewModels.PodcastsListViewModel


<div>
    <h1 class="search-results-count">Found results: @Model.ResultCount</h1>
    <div class="search-results">
        @foreach (var item in Model.Results)
        {
            <a class="search-results-item" asp-controller="Home" asp-action="PodcastDetails" asp-route-urlToPodcast="@item.FeedUrl">
                <img class="podcast-cover" src="@item.Cover" />
                <small class="podcast-track-count">@item.TrackCount Episodes</small>
                <h2 class="podcast-title">@item.Name</h2>
                <h3 class="podcast-author">@item.Author</h3>
            </a>
        }
    </div>
</div>
