﻿.footer {
    position: fixed;
    font-size: .9rem;
    width: 100%;
    text-align: center;
    display: block;
    bottom: 0;
    padding: 2px 0 5px 0;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.54);
    background-image: radial-gradient(circle farthest-corner at 5rem 5rem, #3494e6 0%, #ec6ead 100%);
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
