﻿@import url(http://fonts.googleapis.com/css?family=Monoton);

.header {
    text-align: center;
    visibility: hidden;
    -webkit-animation: header--slide-down 2s ease forwards; /* Safari 4+ */
    -moz-animation: header--slide-down 2s ease forwards; /* Fx 5+ */
    -o-animation: header--slide-down 2s ease forwards; /* Opera 12+ */
    animation: header--slide-down 2s ease forwards; /* IE 10+, Fx 29+ */
}

.header__title {
    position: relative;
    text-transform: uppercase;
    font-family: 'Monoton', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    line-height: 1;
    margin: 4rem 0 0 0;
    background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: -.1rem .1rem .15rem rgba(255, 255, 255, 0.3);
    -webkit-animation: header__title--cast-shadow 2s linear 2s forwards; /* Safari 4+ */
    -moz-animation: header__title--cast-shadow 2s linear 2s forwards; /* Fx 5+ */
    -o-animation: header__title--cast-shadow 2s linear 2s forwards; /* Opera 12+ */
    animation: header__title--cast-shadow 2s linear 2s forwards; /* IE 10+, Fx 29+ */
}

@keyframes header--slide-down {
    0% {
        transform: translateY(-40%);
        opacity: 0;
    }

    60% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes header__title--cast-shadow {
    0% {
        text-shadow: -.1rem .1rem 1rem rgba(255, 255, 255, 1);
    }

    60% {
        text-shadow: -.6rem 0.6rem 1rem rgba(0, 0, 0, 0.63);
    }

    80% {
        text-shadow: 0 .9rem 1rem rgba(0, 0, 0, 0.63);
    }

    100% {
        text-shadow: .6rem .6rem 1rem rgba(0, 0, 0, 0.63);
    }
}