﻿*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-image: radial-gradient(circle farthest-corner at 5rem 5rem, #3494e6 0%, #ec6ead 100%);
    background-size: 400% 400%;
    animation: body-moving 15s linear infinite;
    background-attachment: fixed;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

@keyframes body-moving {
    0% {
        background-position: 5% 0%
    }

    50% {
        background-position: 96% 100%
    }

    100% {
        background-position: 5% 0%
    }
}