﻿
.search-podcast {
    max-width: 40rem;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 7rem;
}

.search-podcast__label {
    margin-bottom: .5rem;
    display: inline-block;
    text-shadow: 0px 2px 3px hsla(0, 0%, 0%, 0.6);
    font-size: 1.4rem;
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: bold;
}

.search-podcast__group {
    display: flex;
    border: 3px solid #424e5c;
    border-radius: 4px;
}

.search-podcast__input {
    flex: 1 0 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .35em .75em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset -3px 0px 7px -5px black;
    transition: all 50ms linear;

    &:focus {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.search-podcast__submit {
    flex: 0 0 auto;
    padding: .35em .75em;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 300;
    background-color: #6197d5;
    color: #fff;
    transition: all 50ms linear;
    box-shadow: inset 3px 0 0 #3366a1;
    border: none;

    &:hover {
        background-color: #7eade3;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    &:active {
        box-shadow: inset 0 0 0px #3366a1;
        padding-right: .8em;
        padding-left: .7em;
    }
}