﻿.search-results-count {
    font-size: 2rem;
    margin-top: 1rem;
    text-shadow: 0px 2px 3px hsla(0, 0%, 0%, 0.6);
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: bold;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
    justify-content: center;
}

.search-results-item {
    border: 1px solid #73b0ff;
    padding: 1rem;
    max-width: 20rem;
    width: 100%;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.6);
    background-repeat: repeat;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-position-x: left;
    background-position-y: top;
    background-origin: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    line-height: normal;
}

.podcast-cover {
    width: 10rem;
    height: auto;
    border: 2px solid #fff;
    text-align: center;
    align-self: center;
}

.podcast-title {
    font-size: 1.5rem;
}

.podcast-author {
    font-weight: normal;
    margin-top: .5rem;
}

.podcast-url {
    margin-top: 2rem;
}

.podcast-track-count {
    align-self: center;
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}